.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  border: 1px solid black;
}

.main-container:hover {
  border-radius: 20px;
}

.text-container {
  border: 2px;
  padding: 20rem;
}

.text-container:hover {
  border-radius: 20px;
}

#nameUser {
  padding: 1em;
  width: 6em;
}

#textMessage {
  padding: 1em;
  width: 31em;
}

.botao{
  font-size: 18px;
  text-transform: uppercase;
  font-weight:700;
  border: none;
  padding: 10px;
  text-decoration: none;
}
.botao-bio{
  height: 3.4em;
  background:rgb(36, 36, 36);
  color:#fff;
  box-shadow:0 5px 0 #000000;
}

.botao-bio:hover{
  cursor: pointer;
  background:#015b67;
  box-shadow: 0 5px 0 #00383f;
}

.botao-bio:active{
  position: relative;
  top: 5px;
  box-shadow: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
